.tt-title {
  padding-bottom: 3px;
  border-bottom: 2px solid #ad1818;
  margin-bottom: 20px;
}

body {
  font-family: Roboto, sans-serif;
}

.tt-title i.la {
  margin-right: 6px;
  color: #ad1818;
}

.tt-infobox h3 {
  background-color: #ad1818;
  padding: 5px 10px;
  color: #ffffff;
}

.tt-infobox h4 {
  background-color: #ad1818;
  color: #ffffff;
  padding: 10px 12px;
  font-size: 20px;
}

.tt-infobox i.la {
  margin-right: 10px;
  font-size: 24px;
  line-height: 0;
}

.tt-infobox {
  border: 2px solid #ad1818;
  background-color: rgba(173,24,24,0.2);
  margin-bottom: 1.5em;
}

.tt-infobox-body {
  padding: 20px;
}

.tt-title h2 {
  font-weight: 300;
}

a[target="_blank"]:after {
  font-family: LineAwesome;
  content: '\f1d2';
  color: #000000;
  font-size: 12px;
  margin-left: 4px;
}

a[target="_blank"]:hover::after {
  text-decoration: none;
}

ul.noIndent, ol.noIndent {
  padding-left: 20px;
}

.tt-video {
  margin-top: 2em;
}

p + div.tt-title, ul + div.tt-title, div + div.tt-title {
  margin-top: 2em;
}

section {
  margin-bottom: 2em;
}

